@font-face {
  font-family: 'YouSheBiaoTiHei-Bold';
  src: url('../font/优设标题黑.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Source-Han-Sans-CN-Bold';
  src: url('../font/思源黑体-ttf/SourceHanSansCN-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Sourc-Han-Sans-Regular';
  src: url('../font/思源黑体-ttf/SourceHanSansCN-Regular.ttf')
    format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Source-Han-Sans-Medium';
  src: url('../font/思源黑体-ttf/SourceHanSansCN-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
body {
  width: 100vw;
  height: 100vh;
}
#main {
  background: url('../images/bg.png');
  background-size: 100% 100%;
  box-sizing: border-box;
}
div {
  box-sizing: border-box;
}
